*{
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS;
  box-sizing: border-box;
}
/*header starts here*/
header{
  position: fixed;
  box-shadow: 4px 4px 20px rgba(167,58,245,0.3);
  background-color: #fff;
  height: 70px;
  width: 100%;
  padding: 20px;
}
header .logo img{
  background-color: #fff;
}
header div{
  float: left;
  /*justify-content: space-between;
  align-items: center;*/
  
}
.header-des{
  position: absolute;
  right: 30px;
  top: 20px;

}
.header-des ul{
  list-style: none;
}
.header-des ul li{
  float: left;
}
.header-des ul li a{
  text-decoration: none;
  padding: 4px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.header-des ul li a:hover{
  color: #7f97ff;
}
/*header ends here*/
/*section starts here*/
section{
  position: relative;
 /* top: 150px;*/
  padding-left: 20px;
  background-color: rgba(139,120,145,0.2);
  padding: 130px 0px 20px 20px;
}
.sec-text h3{
  font-size: normal;
  font-weight: 600px;
  
}
.sec-text h1{
  font-size: 33px;
  font-weight: bold;
}
.sec-text p{
  color: gray;
}
.btn{
  height: 45px;
  width: 200px;
  outline: none;
  background-color: #7f97ff;
  color: white;
  border: none;
  border-radius: 3px;
}
.btn:hover{
  box-shadow: 5px 4px 39px rgba(130,146,255,0.4);
}
/*section ends here*/
/*about section starts here*/
.about-section{
  padding: 150px 0px 20px 20px;
}
.about-section h3{
  font-size: normal;
}
.about-section h2{
  font-size: 24px;
  font-weight: bold;
}
.about-section p{
  color: gray;
}
/*about section ends here*/
/*service-section starts here*/
.service-section{
  
  padding: 100px 0px;
}
.service-section h1{
  margin: 0px 20px;
  font-size: 40px;
}
.service-section p{
  text-align: center;
  color: gray;
  padding: 10px;
}
.service1{
  margin: 100px 50px 0px 0px;
  text-align: center;
}
.service1 i{
  font-size: 50px;
  padding: 10px;
}
.service1 h4{
  font-size: 25px;
  font-weight: bold;
}
.service1 i:hover{
  color: #7f97ff;
}
.service1 h4:hover{
  color: #7f97ff;
}

/*service-section ends hete*/
/*section3 starts here*/
.section3{
  text-align: center;
  background-color: #7f97ff;
  padding: 60px;
}
.section3 .div1{
  padding: 25px;
  color: white;
}
/*section3 ends here*/
/*features section starts here*/
.features-section{
  margin: 100px  0px;

}
.features-section h1{
  font-size: 40px;
  text-align: center;
}
.features-section1{
  margin: 100px 0px;
}
.features-section p{
  font-size: 15px;
  text-align: center;
  color: gray;
  
}
.features{
  margin: 0px 35px;
  transition: 2s;
}
.features:hover{
  transform: scale(0.7);
}
.features h3{
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.features figure{
  background: linear-gradient(40deg,#8490ff 40%,#62bdfc 100%);
  height: 340px;
  width: 339px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 5%;
}
.features figure:hover img{
  opacity: 0.3;
}
/*features section ends here*/
/*section card starts here*/
.section-card{
  
}
.card1{
  background-color
}
.card{
  text-align: center;
  height: 550px;
width: 80%;
margin: 50px auto;
box-shadow: 2px 2px 20px rgba(167,158,245,0.3);
border: 2px solid rgba(177,158,245,0.3);

}
.card-head{
  padding: 20px;
  
}
.card-head h1{
  font-size: 60px;
  padding: 10px;
}
.card-head h3{
  font-size: 30px;
  padding: 10px;
}
.card-head p{
  font-size: 16px;
  padding: 15px;
}

.card-des h1{
  font-size: 50px;

  padding: 18px;
}
.card-des button{
  height: 45px;
  width: 230px;
  background-color: #7f97ff;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;
  border: none;
}

.card:hover{
  background-color: #7f97ff;
  box-shadow: 4px 4px 20px rgb(243,252,254);
  color: white;
}
.card:hover button{
  background-color: white;
}
/*section card ends here*/
/*progress section starts here*/
.progress-section{
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px;
}
.progress{
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  
}
.progress ul{
  list-style: none;
}
.progress ul li{
 /* list-style-type: none;*/
 text-transform: uppercase;
 margin: 35px 50px;
 color: blue;
 position: relative;
}
.progress li::before{
  content: "";
  position: absolute;
  height: 25px;
  width: 100%;
  left: 0px;
  top: 20px;
  background-color: #e2ebed;
  border-radius: 100px;
}
.progress li::after{
  content: "";
  position: absolute;
  height: 25px;
  width: 0px;
  left: 0px;
  top: 20px;
  background-color: red;
  border-radius: 100px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.progress li.html::after{
  animation-name: html;
}
@keyframes html{
  to{
    width: 70%;
  }
}
.progress li.css::after{
  animation-name: css;
}
@keyframes css{
  to{
    width: 50%;
  }
}
.progress li.java::after{
  animation-name: java;
}
@keyframes java{
  to{
    width: 20%;
  }
}
.progress li.phy::after{
  animation-name: phy;
}
@keyframes phy{
  to{
    width: 40%;
  }
}

.progress li.bot::after{
  animation-name: bot;
}
@keyframes bot{
  to{
    width: 50%;
  }
}

.progress li.lara::after{
  animation-name: lara;
}
@keyframes lara{
  to{
    width: 70%;
  }
}
.progress li.react::after{
  animation-name: react;
}
@keyframes react{
  to{
    width: 90%;
    background-color: green;
  }
}
@media(min-width:991px){
  section{
    display: flex;
  }
.sec-text{
  width: 50%;
  margin: 100px 50px;
}
.sec-text h3{
  font-size: 2rem;
}
.sec-text h1{
  font-size: 3rem;
}
.sec-text p{
  font-size: 1.2rem;
}
.btn{
  font-size: 15px;
}
.sec-img{
  width: 50%;
}
.about-section{
  display: flex;
}
.about-section .about-img{
  width: 62%;
}
.about-img img{
  
}
.about-section .about-text{
  width: 38%;
  margin: 0px 50px;
}
.about-section .about-text h3{
  font-size: 1.7rem;
}
.about-section .about-text h2{
  font-size: 2rem;
}

.about-section .about-text p{
  font-size: 1.2rem;
}
.service-section{
  text-align: center;
}
  
.service1{
  width: 33.33%;
  background-color: red;
}
.service{
  
}
@media(max-width:768px){
  
}

